[submodule "docs/themes/hugo-theme-relearn"]
	path = docs/themes/hugo-theme-relearn
	url = https://github.com/McShelby/hugo-theme-relearn.git
[submodule "docs/themes/lotusdocs"]
	path = docs/themes/lotusdocs
	url = https://github.com/colinwilson/lotusdocs
[submodule "llama.cpp"]
	path = llama.cpp
	url = https://github.com/ggerganov/llama.cpp.git
