[submodule "docs/themes/hugo-theme-relearn"]
	path = docs/themes/hugo-theme-relearn
	url = https://github.com/McShelby/hugo-theme-relearn.git

[submodule "backend/cpp/llama-avx/llama.cpp"]
	path = backend/cpp/llama-avx/llama.cpp
	url = https://github.com/ggerganov/llama.cpp.git
